* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  scroll-behavior: smooth;
  color: #111111;
}

html body {
  position: relative;
  min-height: 100vh;
  /*****Container Styling*****/
  /*****Card Styling*****/
  /*****Scroll Container Styling*****/
}

html body a, html body h2, html body h4, html body ul {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

html body .container, html body .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container-content {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

html body .card {
  width: 100%;
}

html body .card .card-img-top {
  max-width: 100%;
  width: 100%;
  height: 300px;
}

html body .card .btn-link {
  cursor: pointer;
}

html body .scroll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  white-space: nowrap;
  padding: 10px 10px;
}

html body .scroll-container * {
  color: #ffffff;
}

html body .scroll-container::-webkit-scrollbar, html body .scroll-container .card::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

html body .scroll-container::-webkit-scrollbar-thumb, html body .scroll-container .card::-webkit-scrollbar-thumb {
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.5);
}

html body .scroll-container .card {
  min-width: 80vw;
  height: 50vh;
  overflow-y: scroll;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 10px 5px;
  padding: 10px 10px;
}

html body .scroll-container .card .card-title, html body .scroll-container .card .card-text {
  list-style-type: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

html body .scroll-container .card .card-title li, html body .scroll-container .card .card-text li {
  margin: 20px 0px;
}

/*****Navigation Bar Styling*****/
#navbar {
  /*****Logo Bar Styling*****/
}

#navbar #logo {
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/*****Main Content Container Styling*****/
main {
  padding: 105px 0px 110px 0px;
}

main .container-fluid {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*****Footer Styling*****/
footer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  padding: 10px 0px;
  /*****Social Media Styling*****/
}

footer span {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  display: block;
}

footer #social-media {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer #social-media a {
  border: 1.5px solid #111111;
  border-radius: 50%;
  margin: 5px 5px;
  padding: 5px 5px;
  color: #ffffff;
  background-color: #111111;
}

/**********************************************************************Mobile Layout**********/
@media only screen and (min-width: 320px) {
  html body h2 {
    text-align: center;
    margin: 10px 10px;
  }
  /*****Main Content Container Styling*****/
  main {
    /*****Index Page Styling*****/
    /*****Achievements Page Styling*****/
    /*****Rivalries Page Styling*****/
  }
  main #index-content-container {
    /*****Index Carousel Styling*****/
    /*****Banner Styling*****/
    /*****News Section Styling*****/
  }
  main #index-content-container #index-carousel .carousel-item img {
    width: 100vw;
    height: 50vh;
  }
  main #index-content-container #index-carousel .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 5px 5px;
  }
  main #index-content-container #index-carousel .carousel-item .carousel-caption {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  main #index-content-container #index-carousel .carousel-item .carousel-caption h3 {
    color: #ffffff;
  }
  main #index-content-container #index-carousel .carousel-control-prev span, main #index-content-container #index-carousel .carousel-control-next span {
    font-weight: bold;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  main #index-content-container #banner {
    background-color: #f2f2f2;
  }
  main #index-content-container #news-section .container-content {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  main #achievements-content-container {
    padding: 20% 0%;
  }
  main #achievements-content-container #championships {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/championships.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/championships.jpeg");
  }
  main #achievements-content-container #raw {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/raw.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/raw.jpeg");
  }
  main #achievements-content-container #smackdown {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/smackdown.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/smackdown.jpeg");
  }
  main #achievements-content-container #wrestlemania {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/wrestlemania.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/wrestlemania.jpeg");
  }
  main #achievements-content-container #summerslam {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/summerslam.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/summerslam.jpeg");
  }
  main #achievements-content-container #royal-rumble {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/royal-rumble.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/royal-rumble.jpeg");
  }
  main #achievements-content-container #survivor-series {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/survivor-series.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/survivor-series.jpeg");
  }
  main #achievements-content-container #hell-in-a-cell {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/hiac.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/hiac.jpeg");
  }
  main #achievements-content-container #eliminaton-chamber {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/elimination-chamber.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/elimination-chamber.jpeg");
  }
  main #achievements-content-container #payback {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/payback.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/payback.jpeg");
  }
  main #achievements-content-container #extreme-rules {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/extreme-rules.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/extreme-rules.jpeg");
  }
  main #achievements-content-container #clash-of-champions {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/clash-of-champions.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/clash-of-champions.jpeg");
  }
  main #achievements-content-container #no-mercy {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/no-mercy.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/no-mercy.jpeg");
  }
  main #achievements-content-container #tlc {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/achievements/card-background/tlc.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/tlc.jpeg");
  }
  main #rivalries-content-container {
    padding: 20% 0%;
  }
  main #rivalries-content-container #brock-lesnar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/rivalries/reigns-lesnar.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/rivalries/reigns-lesnar.jpeg");
  }
  main #rivalries-content-container #john-cena {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/rivalries/reigns-cena.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/rivalries/reigns-cena.jpeg");
  }
  main #rivalries-content-container #undertaker {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/rivalries/reigns-undertaker.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/rivalries/reigns-undertaker.jpeg");
  }
  main #rivalries-content-container #triple-h {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/rivalries/reigns-hhh.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/rivalries/reigns-hhh.jpeg");
  }
  main #rivalries-content-container #randy-orton {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("Images/rivalries/reigns-orton.jpeg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/rivalries/reigns-orton.jpeg");
  }
  /*****Footer Styling*****/
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/**********************************************************************Tablet Layout**********/
@media only screen and (min-width: 768px) {
  /*****Main Content Container Styling*****/
  main {
    /*****Index Page Styling*****/
  }
  main #index-content-container {
    /*****News Section Styling*****/
  }
  main #index-content-container #news-section .container-content {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  /*****Footer Styling*****/
  footer {
    /*****Social Media Styling*****/
  }
  footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer #social-media {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/**********************************************************************Laptop, Desktop & Large Screen Layout**********/
@media only screen and (min-width: 1024px) {
  /*****Main Content Container Styling*****/
  main {
    /*****Index Page Styling*****/
  }
  main #index-content-container {
    /*****News Section Styling*****/
  }
  main #index-content-container #news-section .container-content {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}
/*# sourceMappingURL=reignsStyle.css.map */