*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	transition: all 0.5s;
	scroll-behavior: smooth;
	color: #111111;
}

html{
	body{
		position: relative;
		min-height: 100vh;

		a, h2, h4, ul{
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		/*****Container Styling*****/
		.container, .container-fluid{
			display: flex;
		}

		.container-content{
			display: grid;
			grid-gap: 10px;
		}

		/*****Card Styling*****/
		.card{
			width: 100%;

			.card-img-top{
				max-width: 100%;
				width: 100%;
				height: 300px;
			}

			.btn-link{
				cursor: pointer;
			}
		}

		/*****Scroll Container Styling*****/
		.scroll-container{
			display: flex;
			overflow: auto;
			white-space: nowrap;
			padding: 10px 10px;

			*{
				color: #ffffff;
			}

			&, .card{
				&::-webkit-scrollbar{
					width: 5px;
					border-radius: 5px;
					background-color: rgba(0, 0, 0, 0.5);
				}

				&::-webkit-scrollbar-thumb{
					border-radius: inherit;
					background-color: rgba(0,0,0,0.5);
				}
			}

			.card{
				min-width: 80vw;
				height: 50vh;
				overflow-y: scroll;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				margin: 10px 5px;
				padding: 10px 10px;

				.card-title, .card-text{
					list-style-type: none;
					overflow-wrap: break-word;
					word-wrap: break-word;
					white-space: normal;

					li{
						margin: 20px 0px;
					}
				}
			}					
		}
	}
}

/*****Navigation Bar Styling*****/
#navbar{

	/*****Logo Bar Styling*****/
	#logo{
		max-width: 80px;
		max-height: 80px;
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}

}

/*****Main Content Container Styling*****/
main{
	padding: 105px 0px 110px 0px;

	.container-fluid{
		flex-direction: column;
	}
}

/*****Footer Styling*****/
footer{
	position: absolute;
	bottom: 0%;
	left: 0%;
	right: 0%;
	padding: 10px 0px;

	span{
		min-width: max-content;
		display: block;
	}

	/*****Social Media Styling*****/
	#social-media{
		flex-direction: row;

		a{
			border: 1.5px solid #111111;
			border-radius: 50%;
			margin: 5px 5px;
			padding: 5px 5px;
			color: #ffffff;
			background-color: #111111;
		}
	}
}


/**********************************************************************Mobile Layout**********/
@media only screen and (min-width: 320px){

	html{
		body{
			h2{
				text-align: center;
				margin: 10px 10px;
			}
		}
	}

	/*****Main Content Container Styling*****/
	main{
		
		/*****Index Page Styling*****/
		#index-content-container{
			
			/*****Index Carousel Styling*****/
			#index-carousel{
				.carousel-item{
					img{
						width: 100vw;
						height: 50vh;
					}
				}

				.carousel-indicators [data-bs-target] {
					width: 15px;
					height: 15px;
					border-radius: 100%;
					margin: 5px 5px;
				}

				.carousel-item{
					.carousel-caption{
						border-radius: 50px;
						background-color: rgba(0, 0, 0, 0.5);

						h3{
							color: #ffffff;
						}
					}
				}

				.carousel-control-prev, .carousel-control-next{
					span{
						font-weight: bold;
						border-radius: 50%;
						background-color: rgba(0, 0, 0, 0.8);
					}
				}
			}

			/*****Banner Styling*****/
			#banner{
				background-color: #f2f2f2;
			}

			/*****News Section Styling*****/
			#news-section{
				.container-content{
					grid-template-columns: auto;
				}
			}

		}

		/*****Achievements Page Styling*****/
		#achievements-content-container{
			padding: 20% 0%;

			#championships{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/championships.jpeg");
			}

			#raw{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/raw.jpeg");
			}

			#smackdown{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/smackdown.jpeg");
			}

			#wrestlemania{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/wrestlemania.jpeg");
			}

			#summerslam{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/summerslam.jpeg");
			}

			#royal-rumble{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/royal-rumble.jpeg");
			}

			#survivor-series{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/survivor-series.jpeg");
			}

			#hell-in-a-cell{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/hiac.jpeg");
			}

			#eliminaton-chamber{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/elimination-chamber.jpeg");
			}

			#payback{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/payback.jpeg");
			}

			#extreme-rules{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/extreme-rules.jpeg");
			}

			#clash-of-champions{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/clash-of-champions.jpeg");
			}

			#no-mercy{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/no-mercy.jpeg");
			}

			#tlc{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/achievements/card-background/tlc.jpeg");
			}
		}

		/*****Rivalries Page Styling*****/
		#rivalries-content-container{
			padding: 20% 0%;

			#brock-lesnar{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/rivalries/reigns-lesnar.jpeg");
			}

			#john-cena{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/rivalries/reigns-cena.jpeg");
			}

			#undertaker{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/rivalries/reigns-undertaker.jpeg");
			}

			#triple-h{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/rivalries/reigns-hhh.jpeg");
			}

			#randy-orton{
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/rivalries/reigns-orton.jpeg");
			}
		}
			
	}

	/*****Footer Styling*****/
	footer{
		.container{
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

}

/**********************************************************************Tablet Layout**********/
@media only screen and (min-width: 768px){

	/*****Main Content Container Styling*****/
	main{
		
		/*****Index Page Styling*****/
		#index-content-container{
			
			/*****News Section Styling*****/
			#news-section{
				.container-content{
					grid-template-columns: auto auto;
				}
			}

		}

	}

	/*****Footer Styling*****/
	footer{
		.container{
			flex-direction: row;
		}

		/*****Social Media Styling*****/
		#social-media{
			justify-content: flex-end;
		}
	}

}

/**********************************************************************Laptop, Desktop & Large Screen Layout**********/
@media only screen and (min-width: 1024px){

	/*****Main Content Container Styling*****/
	main{
		
		/*****Index Page Styling*****/
		#index-content-container{
				
			/*****News Section Styling*****/
			#news-section{
				.container-content{
					grid-template-columns: auto auto auto;
				}
			}
	
		}
	
	}

}
