*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	scroll-behavior: smooth;
	color: #bdbdbd;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	-webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}

/*****Custom Styling*****/

	/*****Text Decoration Styling*****/
	@mixin text-decoration{
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
		font-weight: normal;
	}

	/*****Flexbox Decoration Styling*****/
    @mixin flex-decoration($flex-direction, $justify-content, $align-items){
		-webkit-display: flex;
       	   -moz-display: flex;
        	-ms-display: flex;
         	 -o-display: flex;
        		display: flex;
		flex-direction: $flex-direction;
		justify-content: $justify-content;
		align-items: $align-items;
    }

	/*****Gridbox Display Styling*****/
    @mixin grid-display{
        display: grid;
        gap: 10px 10px;
    }

	/*****Icon Decoration Styling*****/
    @mixin icon-decoration($max-width, $max-height){
        max-width: $max-width;
        max-height: $max-height;
        width: 100%;
        height: 100%;
    }

	/*****Scroller Decoration Styling*****/
	@mixin scroller-decoration{
		&{
			@include flex-decoration(row, initial, initial);
			height: 80vh;
			overflow-x: auto;
			white-space: nowrap;

			&, .scroller-item{
				&::-webkit-scrollbar{
					width: 10px;
					border-radius: 10px;
					background-color: rgba(0, 0, 0, 0.5);
				}
		
				&::-webkit-scrollbar-thumb{
					border-radius: 10px;
					background-color: rgba(0,0,0,0.5);
				}
			}

			.scroller-item{
				min-width: 80vw;
				min-height: 50vh;
				overflow-y: auto;
				margin: 10px 10px;
				padding: 10px 10px;
				
				li{
					margin: 10px 0px;
				}
			}
		}
	}

	/*****Card Decoration Styling*****/
	@mixin card-decoration{
		&{
			width: 100%;
			border-radius: 10px;
			background-image: linear-gradient(to bottom right, #264040, #111111);

			.card-img-top{
				max-width: 100%;
				width: 100%;
				height: 300px;
				border-radius: 10px;
			}

			.card-body{
				.card-title, .card-text{
					list-style-type: none;
					overflow-wrap: break-word;
					word-wrap: break-word;
					white-space: normal;
				}

				.btn-link{
					cursor: pointer;
					border-radius: 20px;
					padding: 10px 10px;
					color: #bdbdbd;
					background-color: #111111;
				}
			}
		}
	}

html, body{
	position: relative;
	min-height: 100vh;
	background-image: linear-gradient(to right, #363535, #5a5858);

	a, .title, .carousel-item-title, .card-title, .btn-link, ul{
		@include text-decoration;
	}

	.card{
		@include card-decoration;
	}

	img{
		width: 100%;
		border-radius: 10px;
	}
}

/*****Navigation Bar Styling*****/
#navbar{
	position: fixed;
	z-index: 5;
	border-radius: 10px;

	/*****Logo Styling*****/
	#logo{
		@include icon-decoration(60px, 60px);
	}

	.nav-link{
		text-align: center;
		border-radius: 50%;
		margin: 10px 5px;
		padding: 5px 5px;
		background-color: #363535;

		span{
			position: absolute;
			left: 105%;
			opacity: 0;
			visibility: hidden;
			border-radius: 10px;
			padding: 0px 5px;
			background-color: #111111;
		}
	}
}

/*****Main Content Container Styling*****/
main{
	.container{
		@include flex-decoration(column, initial, initial);

		.container-fluid{
			@include grid-display;
		}

		.container-scroll{
			@include scroller-decoration;
		}
	}
}

/**********************************************************************Mobile Layout**********/
@media only screen and (min-width: 320px){
	
	/*****Navigation Bar Styling*****/
	#navbar{
		bottom: 1%;
		left: 1%;
		right: 1%;
		padding: 5px 5px;
		@include flex-decoration(row, space-between, flex-start);

		#container-nav{
			@include flex-decoration(column, flex-end, flex-end);

			#container-nav-link, #social-media{
				@include flex-decoration(row, inherit, inherit);
			}
		}
	}

	/*****Main Content Container Styling*****/
	main{
		margin: 10px 0px 120px 0px;

		/*****Index Page Styling*****/
		#index-content-container{

			/*****Index Carousel Styling*****/
			#index-carousel{
				.carousel-item{
					img{
						width: 100%;
						height: 80vh;
					}
				}

				.carousel-indicators [data-bs-target]{
					width: 15px;
					height: 15px;
					border-radius: 100%;
					margin: 5px 5px;
				}

				.carousel-control-prev, .carousel-control-next{
					span{
						font-weight: bold;
						border-radius: 50%;
						background-color: rgba(0, 0, 0, 0.5);
					}
				}

				.carousel-caption{
					border-radius: 50px;
					background-color: rgba(0, 0, 0, 0.5);
				}
			}

			/*****News Section Styling*****/
			#news{
				grid-template-columns: auto;
			}

		}

	}
	
}

/**********************************************************************Tablet Layout**********/
@media only screen and (min-width: 768px){

	/*****Main Content Container Styling*****/
	main{

		/*****Index Page Styling*****/
		#index-content-container{

			/*****News Section Styling*****/
			#news{
				grid-template-columns: auto auto;
			}

		}

	}

}

/**********************************************************************Laptop, Desktop & Large Screen Layout**********/
@media only screen and (min-width: 1024px){

	/*****Navigation Bar Styling*****/
	#navbar{
		top: 1%;
		right: initial;
		@include flex-decoration(column, flex-start, center);

		/*****Logo Styling*****/
		#logo{
			margin: 5px 10px;
		}

		#container-nav{
			@include flex-decoration(column, inherit, inherit);

			#container-nav-link, #social-media{
				@include flex-decoration(column, inherit, inherit);
				margin: 10px 0px;
			}
		}
	}

	/*****Main Content Container Styling*****/
	main{
		margin: 10px 0px 10px 100px;

		/*****Index Page Styling*****/
		#index-content-container{

			/*****News Section Styling*****/
			#news{
				grid-template-columns: auto auto auto;
			}

		}

	}

}